<div class="d-flex flex-column bd-highlight mb-3">
<div class="sgLi">
  <div class="box">
    <h5><%= map.title %></h5>
    <h5></h5>
    <ul class="df">
      <li><%= map.comment%></li>
    </ul>
    <% if user_signed_in? && current_user.id != map.user_id %>
    <div class="box18">
      <p><%= map.user.name %></p>
    </div>
    <% end %>
  </div>
  <h5><%= link_to "場所を検索", [map], class: "btn btn-success mt-1" %></h5>
</div>
</div>
